*{
   margin-left: 10%;
   padding: 0%;

}
.entéte{
    background-color: aqua;
    margin: 30px;
    padding: 20px;
    
}
h1{
    font-size:xx-large;
    font-weight: lighter;
    font-style:normal;
}
.img1{
  width: 70px;
}
.img2{
  
  height: 15px;
  margin-top: 15px;
  margin-left: 0%;
    
}
.img3{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-left: 0%;
    

}
h3{
    font-weight: lighter;
}
#p1{

}
#p2{
    display: flex;
    color: blue;
    text-decoration: underline;

}
#p3{
    display: flex;
}
.container{
    margin: 30px;
    padding: 20px;
    width: 50%;
    border: 3px solid gray;
    
}
